<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/error.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
    <title>Error</title>
  </head>
  <body>
    <div id="loader" class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <script>
      window.addEventListener("load", function () {
        const loader = document.getElementById("loader");
        loader.style.opacity = 0; // fade out
        setTimeout(() => {
          loader.style.display = "none"; // remove from DOM flow
        }, 400); // match with CSS transition
      });
    </script>

    <section id="body">
      <h1>505</h1>
      <p>Server error</p>
      <a href="/">Return to landing page</a>
    </section>
  </body>
</html>
