<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monami</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/post-traply.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <link rel="stylesheet" href="/CSS/profile-traply.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/under-construction.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
  

    <section id="body">
    
    <section id="main">
                        <h1>Page is under construction!</h1>
                        <p>Monami will be an AI chat that can chat like a normal human by understanding the human emotions better. </p>
                        <p><a href="/home">Go to home.</a></p>
    </section>
      </section>

    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
