<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monami</title>
    <link rel="stylesheet" href="/CSS/variables.css" />

   
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/under-construction.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
  

<section id="body">
<h1>What's Wrong?</h1>
<h6>This page is under-construction. </h6>
<section id="main">
<form action="/monami" method="post">
<textarea name="message" id="message">Type your emotions</textarea>
<span> <%= response %></span>
<button>Send</button>
</form>


</section>
</section>
    </section>
                        </section>
    </section>
    </section>
  
    </body>
</html>
