<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/post-traply.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <link rel="stylesheet" href="/CSS/profile-traply.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/under-construction.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    
    <section id="slide-bar">
      <img src="/Images/Clair (2).png" alt="">     
      <a href="/dashboard">
        <div class="dashboard">
          <img src="/Images/menu-black.png" alt="">
                      
        </div>
        </a>
        <a href="/profile">
        <div class="profile">
          <img src="/Images/Account-black.png" alt="">
                         
        </div>
        </a>
        <a href="/notification">
          <div class="special">
            <img src="/Images/Notification-Black.png" alt="">
                         
                            </div>
                            </a>
                            <a href="/work">
                              <div class="work">
                                <img src="/Images/Work-black.png" alt="" />
                          
                              </div>
                            </a>
                    
                            <a href="/post">
                              <div class="post">
                                <img src="/Images/Add-post-black.png" alt="" />
                            
                              </div>
                            </a>
                            <a href="/Monami">
                              <div class="monami">
                                <img src="/Images/monami.png" alt="" />
                         
                              </div>
                            </a>
    </section>
    <section id="body">
    
    <section id="main">
      <h1>Profile</h1>
      <div class="profile-info">
          <h2>Welcome, <%= user.name %></h2>
          <p>Your posts:</p>
      
          <% posts.forEach(post => { %>
              <div class="post">
                  <h3><%= post.message %></h3>
                  <p>Liked by: 
                      <% notifications.forEach(notification => { %>
                          <% if (notification.postTitle === post.message) { %>
                              <%= notification.likedBy.join(", ") %>
                          <% } %>
                      <% }) %>
                  </p>
              </div>
          <% }) %>
      </div>
      
    </section>
      </section>

    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
