<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notification</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/post-traply.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <link rel="stylesheet" href="/CSS/profile-traply.css">
    <link rel="stylesheet" href="/CSS/main.css">
    <link rel="stylesheet" href="/CSS/under-construction.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    <section id="header">  
      <div class="img">
        <img src="/Images/Elan.png" alt="">     
      </div>                    
                
</section>
    <section id="slide-bar">
      <a href="/dashboard">
        <div class="dashboard">
                          <span><img src="/Images/menu-black.png" alt=""></span>
                          <span><p>Dashboard</p></span>
        </div>
        </a>
        <a href="/profile">
        <div class="profile">
                          <span><img src="/Images/Account-black.png" alt=""></span>
                          <span><p>Profile</p></span>
        </div>
        </a>
        <a href="/notification">
          <div class="special">
                            <span><img src="/Images/Notification-Black.png" alt=""></span>
                            <span><p>Notification</p></span>
                            </div>
                            </a>
                            <a href="/work">
                              <div class="work">
                                <span><img src="/Images/Work-black.png" alt="" /></span>
                                <span><p>Work</p></span>
                              </div>
                            </a>
                    
                            <a href="/post">
                              <div class="post">
                                <span><img src="/Images/Add-post-black.png" alt="" /></span>
                                <span><p>Post</p></span>
                              </div>
                            </a>
                            <a href="/Monami">
                              <div class="monami">
                                <span><img src="/Images/monami.png" alt="" /></span>
                                <span><p>Monami</p></span>
                              </div>
                            </a>
    </section>
    <section id="body">
    
    <section id="main">
                        <h1>Page is under construction!</h1>
                        <p>Monami will be an AI chat that can chat like a normal human by understanding the human emotions better. </p>
    </section>
      </section>

    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
