<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Post</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/post-traply.css">
    <link rel="stylesheet" href="/CSS/dashboard-traply.css">
    <link rel="stylesheet" href="/CSS/profile-traply.css">
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    <section id="header">
                        <div class="left">
                        <img src="/Images/Traply.png" alt="">
                        </div>
                        <div class="right">
                        <img src="/Images/Search-black.png" alt="">
                        <img src="/Images/Account-black.png" alt="">
                        </div>

    </section>
    <section id="body">
    <section id="slide-bar">
      <a href="/dashboard">
        <div class="special">
                          <span><img src="/Images/menu-black.png" alt=""></span>
                          <span><p>Dashboard</p></span>
        </div>
        </a>
        <a href="/profile">
        <div class="profile">
                          <span><img src="/Images/Account-black.png" alt=""></span>
                          <span><p>Profile</p></span>
        </div>
        </a>
        <div class="notficiation">
                          <span><img src="/Images/Notification-Black.png" alt=""></span>
                          <span><p>Notification</p></span>
                          </div>
        <div class="work">
                          <span><img src="/Images/Work-black.png" alt=""></span>
                          <span><p>Work</p></span>
        </div>
        <a href="/post">
        <div class="post">
                          <span><img src="/Images/Add-post-black.png" alt=""></span>
                          <span><p>Post</p></span>
        </div>
        </a>
        <a href="/Monami">
          <div class="post">
            <span><img src="/Images/monami.png" alt="" /></span>
            <span><p>Monami</p></span>
          </div>
        </a>
    </section>
     <section id="profile">
                        <section id="profile-details">
                        <div class="profilepic"></div>
                        <div class="engagements">
                        <h1><%= user.name%></h1>
                        <div class="engagments">
                        <span><b>1K</b>  Posts</span>
                        <span><b>3M</b> Followers</span>
                        <span>
                          <form action="/signout" method="post">
                            <button>Sign out</button></a>
                          </form>
                          
                        </span>
                        </div>
                      
                        </div>
                        </div>
                      

                        </section>
   <hr>
     </section>
        </section>
      </section>

    </section>
                        </section>
    </section>
    </section>
    <script src="/js/loading2.js"></script>
    </body>
</html>
