<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/variables.css" />

    <link rel="stylesheet" href="/CSS/register.css" />
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="loader" class="loader">
      <div class="dot"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
    <script>
      window.addEventListener("load", function () {
        const loader = document.getElementById("loader");
        loader.style.opacity = 0; // fade out
        setTimeout(() => {
          loader.style.display = "none"; // remove from DOM flow
        }, 400); // match with CSS transition
      });
    </script>

    <section id="register">
      <section id="signup">
        <form action="/register" method="post">
          <img src="/Images/Ciphry_logo_with_text.png" alt="" />
          <p>Create Your Account</p>
          <h3>
            For the purpose of secuirty, we recommend you to use anonymus names.
          </h3>
          <span class="name">
            <input type="text" name="name" id="name" placeholder="Name" />
          </span>
          <p>Already have an account? <a href="/signin">Sign in</a></p>
          <a href=""><button>Register</button></a>
        </form>
      </section>
    </section>

    <script src="/Js/loading.js"></script>
  </body>
</html>
