<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/register.css" />
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="register">
      <section id="signup">
        <form action="/register" method="post">
          <img src="/Images/Ciphry_logo_with_text.png" alt="" />
          <p>Create Your Account</p>
          <span class="name">
            <input type="text" name="name" id="name" placeholder="Username" />
            <input type="email" name="email" id="email" placeholder="Email" />
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
            />
          </span>
          <p>Already have an account? <a href="/signin">Sign in</a></p>
          <a href=""><button>Register</button></a>
          <span><%= errorMessage%></span>
        </form>
      </section>
    </section>

    <script src="/Js/loading.js"></script>
  </body>
</html>
