<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign-in εlan</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    <section id="register">
      <section id="video">
        <video
          src="/Images/original-0242acdc69146d4472fc5e69b48616dc.mp4"
          loop
          autoplay
          muted
        ></video>
        <p>"Entering a new realm"</p>
      </section>
      <section id="signup">
        <form action="/signin" method="Post">
          <img src="/Images/Elan.png" alt="" />
          <p>Sign-in to your Account</p>
          <span class="name"
            ><input type="email" name="email" id="email" placeholder="Email" />
          </span>
          <p>Don't have an account? <a href="/">Sign up</a></p>
          <button>Sign-in</button>
        </form>
      </section>
    </section>
    <script src="/Js/loading.js"></script>
  </body>
</html>
