<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="/CSS/success.css" />
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <section id="intro">
      <h1>Registration Successful</h1>
      <p>Check out our products</p>
    </section>

    <section id="success">
      <div class="traply">
        <img src="/Images/Traply-edited.png" alt="" />
        <a href="/dashboard/traply"><button>Get started</button></a>
      </div>
      <div class="clair">
        <img src="/Images/Clair-white.png" alt="" />
        <a href="/dashboard/clair"><button>Get started</button></a>
      </div>
    </section>
  </body>
</html>
