<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Traply</title>
    <link rel="stylesheet" href="/CSS/variables.css" />
    <link rel="stylesheet" href="/CSS/preloader.css" />
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/CSS/under-construction.css" />
    <!--FONT FAMILY-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="preloader">
      <div class="spinner"></div>
      <div class="loading">
        <p>Loading...</p>
      </div>
    </div>
    <section id="body">
      <section id="main">
        <div class="h1">
          <h1>Page is under construction!</h1>
        </div>
        <div class="p">
          <p>
            Work will be an AI product which will enhance job searching and
            performing work related tasks.
          </p>
          <p><a href="/home">Go to home</a></p>
        </div>
      </section>
    </section>

    <script src="/js/loading2.js"></script>
  </body>
</html>
