section#posts {
display: flex;
gap: 30px;
flex-direction: column;
padding: 25px;
}
#post {
width: 600px;
border-radius: 10px;
border: 0.5px solid var(--Black--);
box-shadow: 10px 10px var(--Blue--);
display: flex;
flex-wrap: wrap;
flex-direction: column;
  }
.brightness{
display: flex;
justify-content: flex-end;
padding: 20px;
}
.account{
width: 50px;
height: 50px;
background-color: var(--Black--);
color: var(--White--);
border-radius: 100%;
}
#engagements{
display: flex;
align-items: center;
justify-content: flex-end;
}
#engagements div{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#engagements img {
width: 27px;
cursor: pointer;
}
#upper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}
section#left {
display: flex;
align-items: center;
gap: 10px;
}
button {
background-color: var(--Blue--);
padding: 10px;
color: var(--White--);
font-family: var(--font-family--);
border: none;
width: 40px;
}
.time {
display: flex;
flex-direction: column;
gap: 3px;
}
.time span{
font-size: 14px;
}
#down{
padding: 20px;
}
.dislike form {
  display: inline-block;
}

.dislike button {
  display: inline-block;
}
#engagements div{
display: flex;
align-items: center;
flex-direction: row;
}
#engagements div button{
  background-color: var(--White--);
}

input{
  font-family: var(--font-family--);
  font-size: 12px;
  }
  .comment textarea{
    width: 70px;
    height: 17px ;
    border: 1px solid var(--Black--);
  }
  .share-popup {
    position: fixed;
    left: 40%;
    top: 30%;
    display: none;
}
section#share-popup-content {
  display: flex
;
  justify-content: center;
  flex-direction: column;
  background: var(--White--);
  width: 364px;
  height: 225px;
  gap: 20px;
  border: 1px solid var(--Black--);
  border-radius: 20px;
  padding: 32px;
}
.close-btn{
  display: flex
;
  justify-content: flex-end;
  font-size: 2.7rem;
  color: var(--Blue--);
  cursor: pointer;
}
.share-btn{
  cursor: pointer;
}
h1 {
  font-size: 1.5rem;
  display: flex
;
  justify-content: center;
  align-items: center;
}
input {
  font-family: var(--font-family--);
  font-size: 12px;
  padding: 10px;
  border-radius: 7px;
  border: 1px solid var(--Black--);
}
section.comment-popup {
  position: fixed;
  display: none
;
  top: 20%;
  left: 34%;
}
section#comment-popup-content {
  display: flex
;
  flex-direction: column;
  background: var(--White--);
  width: 474px;
  height: 417px;
  border: 1px solid var(--Black--);
  border-radius: 20px;
  padding: 28px;
}
section#comment-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
.comment-fetch {
  display: flex
;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  gap: 7px;
  padding: 37px;
}
section#comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
input#message {
  width: 56%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
input#message:focus{
  outline: none;
}
input#submit {
  background-color: var(--Blue--);
  color: white;
  border: 1px solid;
  width: 90px;
}
* {
 @media(max-width:1025px){
  #slide-bar p {
    display: none;
}
#slide-bar div{
  width: 65px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
 }
 @media(max-width:768px){
  .img {
    width: 46rem;
}
#posts{
  width: 500px;
  
}
section#posts{
  padding: 0;
  padding-top: 75px;
}
#post{
  width: 500px;
}
p {
  font-size: 14px;
}
 }
 @media(max-width:681px){
  #slide-bar {
    padding: 13px !important;
    gap: 16px !important;
    flex-direction: column !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: white !important;
    padding-right: 52px !important;
    width: 100% !important;
    top: 0;
  }
  #slide-bar #icons{
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  }
 @media(max-width:531px){
  #post{
    width: 471px !important;
  }
  #slide-bar{
    width: 108% !important;
  }
 }
 @media(max-width:496px){
  #post{
    width: 384px !important;
  }
  #slide-bar #icons{
    gap: 10px !important;
  }
  #slide-bar div{
    width: 53px !important;
  }
 }
 @media (max-width: 426px) {
  .img {
    width: 33rem !important;
  }
  #posts {
    width: 500px !important;
  }
  #post {
    width: 360px !important;
    border-radius: 10px !important;
    border: 0.5px solid var(--Black--) !important;
    box-shadow: 10px 10px var(--Blue--) !important;
  }
  #body {
    padding-top: 190px !important;
  }
  #slide-bar div img {
    width: 33px !important;
  }
  #slide-bar div {
    width: 45px !important;
  }
  section#posts {
    padding: 0 !important;
  }
  .img {
    width: 25rem !important;
  }
  #slide-bar {
    padding: 13px !important;
    gap: 16px !important;
    flex-direction: column !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: white !important;
    padding-right: 52px !important;
    width: 109% !important;
    
  }
  #slide-bar #icons{
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
}
@media(max-width:376px){
  #slide-bar{
    gap: 16px !important;
    width: 111% !important;
  }
  #slide-bar #icons{
    gap: 11px;
  }
  #post{
    width: 327px !important;
  }
}
@media(max-width:320px){
  #post{
    width:292px !important;
  }
  #slide-bar #icons{
    gap: 5px;
  }
}}