section#posts {
display: flex;
gap: 30px;
flex-direction: column;
padding: 25px;
}
#post {
width: 600px;
border-radius: 10px;
border: 0.5px solid var(--Black--);
box-shadow: 10px 10px var(--Blue--);
display: flex;
flex-wrap: wrap;
flex-direction: column;
  }

.account{
width: 50px;
height: 50px;
background-color: var(--Black--);
color: var(--White--);
border-radius: 100%;
}
#engagements{
display: flex;
align-items: center;
justify-content: space-around; 
}
#engagements div{
  display: flex;
  justify-content: center;
  align-items: center;
}
#engagements img {
width: 27px;
}
#upper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}
section#left {
display: flex;
align-items: center;
gap: 10px;
}
button {
background-color: var(--Blue--);
padding: 10px;
color: var(--White--);
font-family: var(--font-family--);
border: none;
width: 40px;
}
.time {
display: flex;
flex-direction: column;
gap: 3px;
}
.time span{
font-size: 14px;
}
#down{
padding: 20px;
}
.dislike form {
  display: inline-block;
}

.dislike button {
  display: inline-block;
}
#engagements div{
display: flex;
align-items: center;
flex-direction: row;
}
#engagements div button{
  background-color: var(--White--);
}

input{
  font-family: var(--font-family--);
  font-size: 12px;
  }
  .comment textarea{
    width: 70px;
    height: 17px ;
    border: 1px solid var(--Black--);
  }

 @media(max-width:1025px){
  #slide-bar p {
    display: none;
}
#slide-bar div{
  width: 65px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
 }
 @media(max-width:768px){
  .img {
    width: 46rem;
}
#posts{
  width: 500px;
  
}
section#posts{
  padding: 0;
  padding-top: 75px;
}
#post{
  width: 500px;
}
p {
  font-size: 14px;
}
 }
 @media(max-width:681px){
  #slide-bar {
    padding: 13px !important;
    gap: 16px !important;
    flex-direction: column !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: white !important;
    padding-right: 52px !important;
    width: 100% !important;
    top: 0;
  }
  #slide-bar #icons{
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
  }
 @media(max-width:531px){
  #post{
    width: 471px !important;
  }
  #slide-bar{
    width: 108% !important;
  }
 }
 @media(max-width:496px){
  #post{
    width: 384px !important;
  }
  #slide-bar #icons{
    gap: 10px !important;
  }
  #slide-bar div{
    width: 53px !important;
  }
 }
 @media (max-width: 426px) {
  .img {
    width: 33rem !important;
  }
  #posts {
    width: 500px !important;
  }
  #post {
    width: 360px !important;
    border-radius: 10px !important;
    border: 0.5px solid var(--Black--) !important;
    box-shadow: 10px 10px var(--Blue--) !important;
  }
  #body {
    padding-top: 190px !important;
  }
  #slide-bar div img {
    width: 33px !important;
  }
  #slide-bar div {
    width: 45px !important;
  }
  section#posts {
    padding: 0 !important;
  }
  .img {
    width: 25rem !important;
  }
  #slide-bar {
    padding: 13px !important;
    gap: 16px !important;
    flex-direction: column !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: white !important;
    padding-right: 52px !important;
    width: 109% !important;
    
  }
  #slide-bar #icons{
    display: flex;
    gap: 20px;
    flex-direction: row;
  }
}
@media(max-width:376px){
  #slide-bar{
    gap: 16px !important;
    width: 111% !important;
  }
  #slide-bar #icons{
    gap: 11px;
  }
  #post{
    width: 327px !important;
  }
}
@media(max-width:320px){
  #post{
    width:292px !important;
  }
  #slide-bar #icons{
    gap: 5px;
  }
}