section#posts {
display: flex;
gap: 30px;
flex-direction: column;
padding: 25px;
width: 700px;
flex-wrap: wrap;
}
#post {
    /* border-radius: 10px; */
    /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15); */
    display: flex
;
    flex-wrap: wrap;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.brightness{
display: flex;
justify-content: flex-end;
padding: 20px;
}
.account{
width: 50px;
height: 50px;
background-color: var(--Blue--);
color: var(--White--);
border-radius: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.account svg.size-6 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex
;
    width: 50px;
}
#engagements{
display: flex;
align-items: center;
justify-content: flex-end;
}
#engagements div{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#engagements img {
width: 27px;
cursor: pointer;
}
#upper {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
}
section#left {
display: flex;
align-items: center;
gap: 10px;
}
button {
background-color: var(--Blue--);
padding: 10px;
color: var(--White--);
font-family: var(--font-family--);
border: none;
width: 40px;
}
.time {
display: flex;
flex-direction: column;
gap: 3px;
}
.time span{
font-size: 14px;
}
#down{
padding: 20px;
}
.dislike form {
  display: inline-block;
}

.dislike button {
  display: inline-block;
}
#engagements div{
display: flex;
align-items: center;
flex-direction: row;
}
#engagements div button{
  background-color: var(--White--);
}

input{
  font-family: var(--font-family--);
  font-size: 12px;
  }
  .comment textarea{
    width: 70px;
    height: 17px ;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  }
  .share-popup {
    position: fixed;
    left: 40%;
    top: 30%;
    display: none;
}

.share-btn{
  cursor: pointer;
   color: var(--Blue--)
}
h1 {
  font-size: 1.5rem;
  display: flex
;
  justify-content: center;
  align-items: center;
}
input {
  font-family: var(--font-family--);
  font-size: 12px;
  padding: 10px;
  border-radius: 7px;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}
section.comment-popup {
  position: fixed;
  display: none
;
  top: 20%;
  left: 34%;
}
section#comment-popup-content {
  display: flex
;
  flex-direction: column;
  background: var(--White--);
  width: 474px;
  height: 417px;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  padding: 28px;
}
section#comment-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 100px;
}
.comment-fetch {
  display: flex
;
  flex-direction: column;
  justify-content: left;
  align-items: baseline;
  gap: 7px;
}
section#comments {
  display: flex;
  flex-direction: column;

}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
input#message {
  width: 56%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
input#message:focus{
  outline: none;
}
input#submit {
  background-color: var(--Blue--);
  color: white;
 box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  width: 140px;
}
h1 {
    font-size: 16px;
    display: flex;
    justify-content: normal !important;
}
#body{
  padding-bottom: 80px; 
}

@media (max-width: 900px) {
 ul{
  padding-bottom: none !important;
 }


  main {
    margin-left: 0;
    margin-top: 60px; /* height of top nav */
    padding: 10px 15px;
    max-width: 100vw;
  }

  section#posts {
    max-width: 100%;
    padding: 15px;
  }
}
