*{
margin:0;
padding:0;
text-decoration: none;
box-sizing: border-box;
}

body{
font-family: var(--font-family--);
background-color:var(--Clear-white--);
}

#header{
    position: fixed;
    top: 0%;
    left: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    }
    #header img{
    width: 175px;
    }
    #body{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 30px;
    }
    #slide-bar {
        display: flex;
        flex-direction: column;
        padding: 28px;
        position: fixed;
        gap: 20px;
        top: 20%;
    }
    #slide-bar div:not(.special) {
    display: flex;
    align-items: center;
    background-color: var(--Gray--);
    width: 200px;
    border-radius: 10px;
    }
    #slide-bar div:not(.special):hover{
    background-color: var(--Blue--);
    color: var(--White--);
    transition: 0.5s ease-in;
    }
    #slide-bar div span{
    margin-left: 14px;
    color: var(--White--);
    }
    #slide-bar div img{
    width: 40px;
    }
    .special{
        display: flex;
        align-items: center;
        width: 200px;
        border-radius: 10px;
        background-color: var(--Blue--);
        color: var(--White--);
        }
