/* Post Header (Title + Button) */
#post .up {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px; 
  flex-wrap: nowrap; 
  padding-bottom: 20px;
  width: 100%;
}
textarea:focus{
outline: none;
}
/* Title */
#post .up h1 {
  font-size: 30px;
  flex: 1;
  white-space: nowrap;
  margin: 0;
}
.down {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: self-end;

}
/* Post Button */
#post  button {
  background-color: var(--Blue--);
  color: var(--White--);
  padding: 12px;
  width: 120px;
  border-radius: 10px;
  font-family: var(--font-family--);
  border: none;
  cursor: pointer;
}

/* Post Section */
section#post {
  padding: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Text Area */
textarea {
  padding: 20px;
  font-family: var(--font-family--);
  resize: none;
  width: 910px;
  max-width: 1150px;
  height: 440px;
  border: 2px solid var(--White--);
  border-radius: 10px;
}

/* RESPONSIVENESS */

/* Tablet */
@media (max-width: 1024px) {
  section#post {
    padding: 80px;
  }

  #post .up {
    flex-wrap: wrap; 
  }

  #post .up h1 {
    font-size: 28px;
    flex-shrink: 0; 
  }

  textarea {
    width: 600px;
    height: 400px;
  }
}

/* Mobile */
@media (max-width: 768px) {
 section#post{
  padding: 50px;
  margin-left: 151px;
 }


  #post  button {
    width: 100px;
    padding: 10px;
  }

  textarea {
    height: 350px;
        margin-top: 50px;
        margin-left: -103px;
        width: 451px;

  }
  .up{
    display: none !important;
  }
}

/* Small Phones */
@media (max-width: 426px) {
  section#post {
    padding: 30px;
    margin-left: 30px;
  }

  #post .up h1 {
    font-size: 20px;
  }
 .down{
  margin-left: 72px;
  margin-top: 48px;
 }
  textarea {
    height: 300px;
    width: 345px;
  }
}
