section#formPost {
    display: none
;
    justify-content: center;
    align-items: center;
    position: fixed; 
  top: 0;
  left: 0;        
  right: 0;
  bottom: 0;
    background: rgba(77, 77, 77, 0.7);
    width: 100%;
}
section#formPost:target {
  display: flex;
}
form.formPost {
    background: white;
    height: 483px;
    width: 400px;
    display: flex
;
    justify-content: center;
    align-items: center;
    border-radius: 20px !important;
}
.down textarea{
      height: 211px;
        width: 322px;
   border: 1px solid var(--Black--);
   resize: none;
   padding: 10px;
   font-family: var(--font-family--);
}
form.formPost input{
  border: 1px solid black;
  box-shadow: none;
  width:327px;
    font-family: var(--font-family--);
  font-size: 12px;
  padding: 10px;
  border-radius: 7px;
}
form.formPost .down{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  flex-direction: column;;
      gap: 15px;

}
form.formPost .down button{
      width: 100px;
      cursor: pointer;
      background-color: var(--Blue--) !important;
      padding: 10px !important;
color: var(--White--) !important;
font-family: var(--font-family--) !important;
border: none;
}
.up {
    display: flex
;
    justify-content: space-around;
    gap: 142px;
    font-size: 39px;
}
.up h1{
  font-size: 20px !important;
}
.btns {
    display: flex
;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cancel{
  background-color: var(--White--);
  border: 1px solid black;
  color: black;
}
.down span{
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-end !important;
  width: 80%;
}
