.profilepic {
width: 100px;
height: 100px;
background: var(--Black--);
border-radius: 100px;
display: flex ;
justify-content: align;                                    
}
section#profile {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 20px;
    padding: 40px;
    padding-top: 157px;
}
h1{
font-size: 20px;
}
hr{
width: 1000px;
color: var(--Blue--);
}
section#profile-details {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 174px;
}
.engagements .engagments {
    display: flex;
    align-items: center;
    gap: 20px;
}
#body{
 display: flex !important;
 justify-content: center;
 align-items: center;
 gap: 150px;   
 padding: 0;
}
#signout button{
    width: 100px;
}
@media(max-width:425px){
#slide-bar{
   position: fixed;
   top: 0;
   left: -22%;
}
section#profile-details{
    flex-direction:column
}
.engagements {
    display: flex;
    justify-content: space-around;
    gap: 100%;
}
@media(max-width:375px){
    #slide-bar{
        width: 109%;
    }
    section#profile{
        padding-left: 28px;
        }}  
      }
