body{
overflow-y: hidden;
}
#register{
                        display: grid;
                        place-content: center;
                          height: 100vh
                    }
                    #video{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
                    #video p{
                    font-size: 20px;
                    }
                    #signup{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    }
                   #signup span {
                      display: flex;
                    min-width: 151px;
                    max-width: 400px;
                    width: 80%;
                    gap: 20px;
                    flex-wrap: wrap;
                    margin: 0 auto ;
                 justify-content: center;
                }
                  
                   input {
    padding: 12px;
    border-radius: 10px;
    font-family: var(--font-family--);
    width: 100%;
    /* box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15); */
    color: var(--Blue--);
    border: 1px solid rgba(0, 0, 0, 0.1);
}
                    
                    span.name {
                    display: flex;
                    flex-direction: column;
                      width: 100%;
                    }                    
                    button {
                    background-color: var(--Blue--);
                    color: Var(--White--);
                    padding: 12px;
                    font-family: var(--Font-family--);
                   box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
                    width: 100px;
                    border: none;
                    }
                    video{
                        width: 800px;
                    }
                    form {
                        width: 90%;
                        max-width: 500px;
                        min-width: 354px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .elan-signin{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 10px;
                    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
                    border-radius: 10px;
                    }
                    img{
                        width: 200px;
                    }
                    h3{
                      font-size: 10px
                    }
                    input#name {
                    padding: 10px;
                    font-family: 'Bricolage Grotesque';
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: 10px;
}
