body{
overflow-y: hidden;
}
#register{
                        display: grid;
                        place-content: center;
                          height: 100vh
                    }
                    #video{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    }
                    #video p{
                    font-size: 20px;
                    }
                    #signup{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    }
                   #signup span {
                      display: flex;
                    min-width: 151px;
                    max-width: 400px;
                    width: 80%;
                    gap: 20px;
                    flex-wrap: wrap;
                    margin: 0 auto 
                 
                }
                    input{
                    padding: 12px;
                    border-radius: 10px;
                    font-family:var(--font-family--);
                    width: 100%;
                    border: 1px solid var(--Black--);
                    color: var(--Blue--);
                    }
                    span.name {
                    display: flex;
                    flex-direction: column;
                      width: 100%;
                    }                    
                    button {
                    background-color: var(--Blue--);
                    color: Var(--White--);
                    padding: 12px;
                    font-family: var(--Font-family--);
                    border: 1px solid var(--Black--);
                    width: 100px;
                    }
                    video{
                        width: 800px;
                    }
                    form {
                        width: 90%;
                        max-width: 500px;
                        min-width: 354px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        gap: 20px;
                    }
                    .elan-signin{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    padding: 10px;
                    border: 1px solid var(--Black--);
                    border-radius: 10px;
                    }
                    img{
                        width: 200px;
                    }
