/* General Styles */
body {
font-family: var(--font-family--);
margin: 0;
padding: 0;
background-color: var(--White--);
color: var(--Blue--);
text-align: center;
}

/* Header */
header {
background-color: var(--Blue--);
color: var(--White--);
padding: 1px;
font-size: 17px;
font-weight: bold;
}
/* Results Section Container */
#results {
                        max-width: 800px;
                        margin: 0 auto;
                        padding: 20px;
                    }
                    
                    /* Results List */
                    #results {
                        padding: 20px;
                        background-color: var(--White--);
                        border-radius: 8px;
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                        margin-top: 20px;
                      }
                      
                      .results-list {
                        list-style: none;
                        margin: 0;
                        padding: 0;
                      }
                      
                      .result-item {
                        background-color: var(--White--);
                        border-radius: 8px;
                        margin-bottom: 15px;
                        padding: 15px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                        transition: transform 0.3s, box-shadow 0.3s;
                      }
                      
                      .result-item:hover {
                        transform: translateY(-5px);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                      }
                      
                      .result-title {
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: #333;
                        margin: 0;
                        padding-bottom: 8px;
                      }
                      
                      .result-title a {
                        text-decoration: none;
                        color: inherit;
                        transition: color 0.3s;
                      }
                      
                      .result-title a:hover {
                        color: #007bff;
                      }
                      
                      .result-message {
                        font-size: 1rem;
                        color: #666;
                        margin: 0;
                        line-height: 1.6;
                      }
                      
                      .no-results-message {
                        text-align: center;
                        font-size: 1.2rem;
                        color: #aaa;
                        margin-top: 20px;
                      }
                      

/* Footer */
footer {        
display: flex;
justify-content: flex-start;
margin-top: 20px;
padding: 10px;
background-color: var(--Blue--);
color: var(--White--);
}

footer a {
color: var(--White--);
text-decoration: none;
font-weight: bold;
}

footer a:hover {
text-decoration: underline;
}
