
.container {
  margin: auto !important;
  background: white !important;
  padding: 30px !important;
  border-radius: 10px !important;
  display: flex;
    flex-direction: column;
    gap: 20px;
        justify-content: center;
    align-items: center;

}

form {
    display: flex !important
;
    flex-wrap: wrap !important;
    gap: 22px !important;
    margin-bottom: 20px !important;
    align-items: center;
    border: 1px solid black !important;
    border-radius: 100px !important;
    justify-content: space-evenly !important;
   
        width: 77%;
}
input[type="text"] {
    flex: 1 !important;
    padding: 16px !important;
    font-size: 16px !important;
     box-shadow: none !important;
    /* border-radius: 100px; */
    border: none;
    /* width: 90%; */
    border-radius: 100px;
}
input[type=text]:focus{
  outline: none;
}
.search {
    display: flex
;
    justify-content: flex-end;
    margin: 10px;
}
button {
    background: none !important;
    border: none !important;
    cursor: pointer !important;
}
.results .card {
  background: #fff !important;
  padding: 15px !important;
  margin-top: 15px !important;
  border-left: 4px solid #1c5fef !important;
  border-radius: 4px !important;
}

.card h2 {
  margin: 0 0 10px 0 !important;
}

.card p {
  margin: 0 !important;
  color: #555 !important;
}
body{
  padding-bottom: 80px; 
}
input[type="text"]{
  width: 98% !important;
}

@media (max-width: 900px) {
    main {
        margin-left: 0;
        margin-top: 60px;
        padding: 10px 15px;
        width: 105% !important;
    }
  
}
.results {
    display: flex
;
    flex-direction: column;
    width: 100%;
}