body{
display: flex;
justify-content: center;
flex-direction: column;
gap: 80px;
padding: 80px;
font-family: var(--font-family--);
}
#intro{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#intro h1{
font-size: 25px;
color: var(--Green--);
}
#success  {
display: flex;
justify-content: center;
align-items: center;
gap: 230px;
}
#success div{
display: flex;
justify-content: center;
align-items: center;                
flex-direction: column;
gap: 30px;     
}
.clair img{
width: 269px;
}
.traply button{
background-color: var(--Gray--);
padding: 12px;
width: 150px;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
color: var(--Blue--);
font-family: var(--font-family--);
                        }
.traply button:hover{
background-color: var(--Blue--);
transition: 1s ease-in-out;

color: var(--White--);
                        }
.clair button{
background-color: var(--Gray--);
padding: 12px;
width: 150px;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
color: var(--Black--);
font-family: var(--font-family--);
}
.clair button:hover{
background-color: var(--Black--);
transition: 1s ease-in-out;
box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
color: var(--White--);
}