@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
:root{
                        --font-family--:   "Bricolage Grotesque", sans-serif;
                        --Black--: #111111;
                        --White--: #fefefe;
                        --Gray--: #bfc1c3;
                        --Clear-white--:#fff;
                        --Blue--: #1c74e4;
                        --Green--:green;
                        }
                        