@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
:root{
                        --font-family--:   "Poppins", sans-serif;
                        --Black--: #1f2937;
                        --White--: #fefefe;
                        --Gray--: #bfc1c3;
                        --Clear-white--:#fff;
                        --Blue--: #1c74e4;
                        --Green--:green;
                        }
[data-theme="dark"] {
--Black--: #fefefe;        /* text should be light */
--White--: #1f2937;        /* background dark */
--Gray--: #6b7280;         /* adjust grays for dark mode */
--Clear-white--: #1f2937;  /* any clear backgrounds */
--Blue--: #3b82f6;         /* primary highlights */
--Green--: #22c55e;        /* optional green */
}
