:root{
                        --font-family--: "Prata" , serif;
                        --Black--: #111111;
                        --White--: #fefefe;
                        --Gray--: #bfc1c3;
                        --Clear-white--:#fff;
                        --Blue--: #00a0f5;
                        --Green--:green;
                        }
                        